/* =================================
   CSS Custom Properties
==================================== */

:root {
  --clr-primary-500: hsl(300, 43%, 22%);
  --clr-primary-200: hsl(333, 80%, 95%);
  --clr-primary-300: hsl(333, 80%, 67%);
  --clr-neutral-300: hsl(303, 10%, 53%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-100: hsl(0, 0%, 100%);

  --ff-primary: "Spartan", sans-serif;

  --fs-400: 0.8125rem;
  --fs-500: 0.9625rem;
  --fs-900: 2rem;
}

/* =================================
   Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  background-image: url(images/bg-pattern-top-mobile.svg), url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;

  background-position:
    top left,
    bottom right;

  background-size: auto, auto;
}

h1 {
  color: var(--clr-primary-500);
  font-size: var(--fs-900);
  max-width: 15ch;
  text-align: center;
  margin: 0 auto;
  padding-top: 25px;
}

.rate {
  padding-top: 0.75rem;
  color: var(--clr-primary-500);
  font-weight: 500;
}

.verified {
  color: var(--clr-primary-300);
  font-weight: 500;
}

.name {
  color: var(--clr-neutral-200);
}

.top header > p {
  color: var(--clr-neutral-300);
  max-width: 35ch;
  margin: 1.5rem auto 0;
  text-align: center;
  line-height: 1.6;
}

/* =================================
   Mobile Layout (default)
==================================== */

.top {
  padding: 1rem 1.25rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

/* Rating cards */
.rating-card {
  background-color: var(--clr-primary-200);
  padding: 1.5rem;
  text-align: center;
  border-radius: 8px;
  max-width: 400px;
  margin: 1rem auto;
}

/* Review cards */
.review-card {
  background-color: var(--clr-primary-500);
  color: var(--clr-neutral-100);
  padding: 1.5rem;
  border-radius: 8px;
  max-width: 380px;
  margin: 1rem auto;
}

/* Reviews section spacing */

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* =================================
   Review Card Layout (default)
==================================== */
.reviews {
  margin: 1px 10px;
}
.review-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.review-card-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.review-text {
  padding: 10px;
  margin-top: 10px;
  font-size: var(--fs-500);
  line-height: 1.3;
}

.name {
  font-weight: 700;
  margin-bottom: 7px;
}

.verified {
  font-size: 0.9rem;
  opacity: 0.6;
}

/* =================================
   Desktop Layout
==================================== */

@media (min-width: 768px) {
  body {
    background-image:
      url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
  }

  header {
    width: 45%;
    text-align: left;
    margin-top: 13%;
  }

  .ratings {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .reviews {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }

  .review-card:nth-child(2) {
    margin-top: 2rem;
  }

  .review-card:nth-child(3) {
    margin-top: 4rem;
  }

  .rating-card {
    text-align: left;
    margin: 1rem 0;
  }

  .rating-card:nth-child(2) {
    margin-left: 2rem;
  }

  .rating-card:nth-child(3) {
    margin-left: 4rem;
  }
}
